/* --- Основные стили --- */ 

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html
{
	height: 100%;
	background: #e0e0e0;
}

body.admin
{
	color: #424243;
	font-family: ARIAL;
	font-size: 12px;
	
	min-height: 100%;
	width: 960px;
	margin: 0 auto;
	border: 1px solid #424243;
	border-width: 0 1px;
	background: #fff;
}

body.index
{
	color: #424243;
	font-family: ARIAL;
	font-size: 12px;
}

.index_content
{
	width: 250px;
	height: 210px;
	border: 2px solid #424243;
	background: #e0e0e0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -131px;
	margin-left: -151px;
	padding: 25px;
}

article, section, aside, hgroup, nav, header, footer, figure, figcaption 
{
	display: block;
}

fieldset {
	border: 1px solid #a9a9a9;
	padding: 8px 4px 5px 9px;
	margin-bottom: 20px;
}
legend {
	padding: 0 5px;
}

.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}

.clear
{
	clear: both;
}

.none
{
	display: none;
}

a
{
	color: #7373FF;
	text-decoration: none;
}

input, textarea, select
{
	border: 1px solid #0C3C6A;
	outline: none;
}

pre {
	font-family: 'HN-Medium', Helvetica, Arial, sans-serif;
	font-size: 13px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, с 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ поддерживается в IE, Safari, и Firefox 3.1.*/
}

header
{
	padding: 10px 25px 10px 25px;
	background: #000;
	float:left;
}
nav{
	padding-left:20px;
	    width: 130px;
}
footer
{
	padding: 10px 25px 10px 25px;
	border-top: 1px solid #0C3C6A;
	text-align: right;
	font-size: 10px;
	color: #0C3C6A;
}

.logo
{
	width: 91px;
	height: 15px;
	float: left;
}

.logo_index
{
	width: 250px;
	height: 62px;
	padding: 0px 0px;
	text-align: center;
	background: #000;
	margin: 0px 0px 25px 0px;
}

.head_user
{
	float: right;
	width: 760px;
	text-align: right;
}

.head_user_name
{
	color: #eee;
}

.head_user_txt
{
	color: #bbb;
	margin: 0px 10px 0px 0px;
}

.head_user_out
{
	margin: 0px 0px 0px 50px;
	color: #eee;
}

.head_user_out:hover
{
	text-decoration: underline;
}

nav, .top_left
{
	    height: 81px;
    width: 150px;
	
	float: left;
}

.content, .top_right
{
	width: 695px;
	margin: 0px 25px 0px 0px;
	padding: 25px 0px 25px 25px;
	float: left;
	border-left: 1px solid #0C3C6A;
}
.top_left{
	    background-color: #000;

}
.content
{
	min-height: 400px;
	position: relative;
	overflow: hidden;
}



.top_right
{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 27px;
	font-size: 14px;
	font-weight: bold;
	color: #eee;
}

.top
{
	background: #888;
	border-bottom: 1px solid #0C3C6A;
}

.top_name
{
	padding: 7px 0px 0px 0px;
	width: 485px;
	float: left;
}

.show_name
{
	padding: 7px 0px 0px 0px;
	float: left;
	color: #424243;
	width: 450px;
}

.top_left_link
{
	color: #eee;
}

.top_left_link:hover
{
	text-decoration: underline;
}

.top_button
{
	font-size: 12px;
	display: block;
	padding: 5px 10px 5px 10px;
	text-align: center;
	margin: 0px 0px 0px 20px;
	float: right;
	background: #ccc;
	border: 1px solid #0C3C6A;
	letter-spacing: 1px;
	color: #424243;
}

.admin_menu
{
	width: 150px;
	padding: 10px 0px 10px 0px;
}

.admin_menu_link
{
	color: #424243;
}

.admin_menu_link:hover
{
	color: #1298ca;
}

.admin_menu_link1
{
	color: #1298ca;
}

.button, .button_alert
{
	cursor: pointer;
	font-size: 12px;
	padding: 5px 10px 5px 10px;
	text-align: center;
	background: #ccc;
	border: 1px solid #0C3C6A;
	letter-spacing: 1px;
	color: #424243;
	width:100px;
}

.formbox
{
	margin: 0px 0px 15px 0px;
	line-height: 1.5em;
}

.formbox_submit
{
	margin: 30px 0px 15px 0px;
}

.input
{
	width: 683px;
	padding: 5px 10px 5px 10px;
	background: #eee;
	color: #0C3C6A;
	resize: none;
}

.input_index
{
	width: 228px;
	padding: 5px 10px 5px 10px;
	background: #eee;
	color: #0C3C6A;
}

.formbox_show
{
	padding: 0px 0px 15px 0px;
	margin: 0px 0px 15px 0px;
	line-height: 1.5em;
	border-bottom: 1px solid #0C3C6A;
}


table.statistic, table.statistic tr, table.statistic tr th, table.statistic tr td
{
	border: 1px solid #000;
	color: #000;
} 
table.statistic tr th, table.statistic tr td
{
	padding: 5px;
}
table.statistic tr:first-child
{
	background: #ccc;
}

/* --- // --- */


/* --- Стиль окна предупреждения --- */ 

#alert_head
{
	background: #888;
	padding: 5px 5px 10px 5px;
	color: #eee;
}
#alert 
{
	background: #eee;
	border: solid 5px #888;
	text-align: center;
	vertical-align: top;
	width: 300px;
	margin: auto;
	padding: 0px 0px 5px 0px; 
	display: block;
	color: #000;
	margin-bottom: 25px;
}
.button_alert
{
	background: #888;
	color: #eee;
}

/* --- // --- */


/* --- Стиль навигации --- */ 

.navigation
{
	background: #fff;
	border: 1px solid #0C3C6A;
	margin: 10px 0px 25px 0px;
	padding: 0px 20px 0px 20px;
}

.nav_table
{
	text-align: center;
	margin: auto;
}

.next_page
{
	float: right;
	padding: 7px 0px 7px 0px;
}

.prev_page
{
	float: left;
	padding: 7px 0px 7px 0px;
}

.block_nav
{
	margin: 0px 110px 0px 110px;
}

.active_nav, .noactive_nav, .etc
{
	float: left;
	padding: 5px 10px 5px 10px;
	text-align: center;
	font-weight: bold;
	background: none;
}

.active_nav
{
	color: #1298ca;
}

.etc
{
	color: #424243;
}

/* --- // --- */



/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
    #cboxTopLeft{width:14px; height:14px; background:url(images/controls.png) no-repeat 0 0;}
    #cboxTopCenter{height:14px; background:url(images/border.png) repeat-x top left;}
    #cboxTopRight{width:14px; height:14px; background:url(images/controls.png) no-repeat -36px 0;}
    #cboxBottomLeft{width:14px; height:43px; background:url(images/controls.png) no-repeat 0 -32px;}
    #cboxBottomCenter{height:43px; background:url(images/border.png) repeat-x bottom left;}
    #cboxBottomRight{width:14px; height:43px; background:url(images/controls.png) no-repeat -36px -32px;}
    #cboxMiddleLeft{width:14px; background:url(images/controls.png) repeat-y -175px 0;}
    #cboxMiddleRight{width:14px; background:url(images/controls.png) repeat-y -211px 0;}
    #cboxContent{background:#fff; overflow:visible;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:5px;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible;  position:absolute; bottom:-29px; background:url(images/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{left:0px; background-position: -51px -25px;}
        #cboxPrevious:hover{background-position:-51px 0px;}
        #cboxNext{left:27px; background-position:-75px -25px;}
        #cboxNext:hover{background-position:-75px 0px;}
        #cboxClose{right:0; background-position:-100px -25px;}
        #cboxClose:hover{background-position:-100px 0px;}

        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}
		
	
	nav{
	padding-left:20px;
	    width: 130px;
}
.content{
	width:705px;
}