*{
	margin:0;
	padding:0;

}

html{
	background: #000;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:  hidden;
}

body{
	font: 14px Arial, Helvetica, sans-serif;
	color:#B2B2B2;
	overflow:  hidden;
	background: #3C3C3B;
}
.main{
	height:100vh;
	position: relative;
    filter: blur(5px);
}
.screen{
	display: none;
	height: 100vh;
	width:100vw;
}

}